.rodape {
    background-color: #000;
    display: flex;
    flex-direction: column; /* Para empilhar verticalmente */
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-top: 2px solid #2271D1;
    box-shadow: 0 0 20px #2271D1;
}

.texto {
    margin-top: 10px;
    color: #fff; /* Para garantir que o texto esteja visível */
    text-align: center;
}
